@media (max-width: 1800px) {
    .page-title {
        font-size: 72px;
    }
}
@media (max-width: 1300px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header .logo-info {
        position: relative;
        top: auto;
    }
}
@media (max-width: 991px) {
    header .nav-buttons {
        display: none;
    }
    header .burger-menu {
        display: block;
    }
}
@media (max-width: 700px) {
    .page-title {
        font-size: 34px;
    }
    .page-title2 {
        font-size: inherit;
    }
    .description-text {
        width: 90%;
    }
}
@media (max-width: 700px) {
    header .gradient-btn {
        margin-left: 0;
        align-self: center; /* Центрирует внутри flex-контейнера */
        justify-content: center; /* Центруем иконку и текст внутри кнопки */
    }
}