* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    color: white;
    position: relative;
    font-optical-sizing: auto;
    font-family: "Inter", sans-serif;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/background.webp");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Чтобы не перекрывало текст */
}

/* Верхняя панель */
header {
    align-items: center;
    padding: 5px 20px;
    background: rgba(28, 28, 28, 1);
    box-shadow: 1px 2px 4px rgb(0 0 0 / 45%);
}
/* Стиль для названия RANKED.CC */
header .logo-info {
    display: flex;
    position: absolute;
    top: 15px;
    align-items: center;
    gap: 22px;
    font-size: 26px;
    font-weight: bold;
}
header .logo {
    text-align: left;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
header .logo-info .logo-text {
    display: flex;
    flex-direction: column; /* Расположение сверху вниз */
    align-items: flex-start; /* Выровнять влево */
    line-height: 1; /* Убираем лишние отступы */
}
header .logo-info .logo-text div:last-child {
    font-family: 'inter';
    font-weight: normal;
    margin-left: 2px; /* Подбирай значение под дизайн */
}
header .logo-info .logo-text > div:nth-child(2) {
    font-size: 18px;
}
header menu ul {
    align-items: center;
}
header menu ul li a {
    position: relative;
    padding: 14px 30px;
    font-size: 18px;
    color: black;
    background: rgb(120, 0, 181);
    background: linear-gradient(142deg, rgba(131, 58, 180, 1) 21%, rgb(251, 88, 88) 70%, rgba(252, 176, 69, 1) 100%);
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 2px;
    display: flex;
}
header .gradient-btn {
    display: inline-flex;
    gap: 8px;
    font-size: 16px;
    margin-left: 11px;
}
header .gradient-btn:hover {
    background: rgb(120, 0, 181);
    background: linear-gradient(142deg, rgb(120, 0, 149) 21%, rgb(220, 88, 88) 70%, rgb(211, 141, 42) 100%);
}
header .nav-buttons {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    padding: 0;
}
header .nav-buttons.mobile {
    display: flex;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: black;
}
header .nav-buttons.mobile ul {
    flex-direction: column;
    gap: 10px;
}
header .nav-buttons ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
header .nav-buttons li {
    margin: 0;
}
header .nav-buttons ul li a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 30px;
}
header .server-ip {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-left: auto;
}
header .theme-toggle {
    position: absolute;
    top: 23px;
    right: 55px;
    cursor: pointer;
    font-size: 36px;
    color: white;
    transition: color 0.3s;
}
header .theme-toggle:hover {
    color: #bbbbbb;
}
header .burger-menu {
    display: none;
    position: absolute;
    right: 19px;
    top: 9px;
    font-size: 24px;
}

/*
    Buttons
 */
.colorful-button1 {
    position: relative;
    overflow: hidden;
    border: none;
    background: linear-gradient(90deg, #4f46e5, #9333ea, #4f46e5); /* Фиолетовый градиент */
    background-size: 300% 300%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 10px;
    transition: 5.1s ease-in-out;
}
.colorful-button1:hover {
    background-position: 100% 50%;
}

/* Слой анимации */
.animation-layer {
    position: absolute;
    z-index: 3;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 70%);
    opacity: 0.6;
    transform: translateX(0);
    transition: transform 1.8s ease-in-out;
}

/* Анимация при наведении */
.colorful-button1:hover .animation-layer {
    transform: translateX(90%);
}




/* Кнопка */
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: black;
    background: rgb(120, 0, 181);
    background: linear-gradient(142deg, rgba(131,58,180,1) 21%, rgb(251, 88, 88) 70%, rgba(252,176,69,1) 100%);
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* Стили для кнопок */
.secondary-btn {
    align-items: center;
    gap: 8px;
    padding: 12px 29px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: black;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 30%, rgba(253,187,45,1) 100%);
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.secondary-btn:hover {
    background: rgb(28, 157, 159);
    background: linear-gradient(0deg, rgb(29, 166, 168) 30%, rgb(197, 149, 40) 100%);
}

.gradient-btn {
    align-items: center;
    gap: 8px;
    padding: 12px 29px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: black;
    background: linear-gradient(142deg, rgba(131, 58, 180, 1) 21%, rgb(251, 88, 88) 70%, rgba(252, 176, 69, 1) 100%);
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.gradient-btn:hover {
    background: linear-gradient(142deg, rgb(120, 0, 149) 21%, rgb(220, 88, 88) 70%, rgb(211, 141, 42) 100%);
}

.btn:hover {
    background: rgb(120, 0, 181);
    background: linear-gradient(142deg, rgb(120, 0, 149) 21%, rgb(220, 88, 88) 70%, rgb(211, 141, 42) 100%);
}

/* Корзина */
.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

/* Анимация плавного появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 991px) {
    header {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    header {
        height: 45px;
    }
    header .nav-buttons {
        flex-direction: column;
    }
    header .logo-info {
        font-size: 14px;
        gap: 10px;
        position: absolute;
        left: 20px;
    }
    header .logo {
        width: 28px;
        height: 28px;
    }
    header .nav-buttons {
        display: none;
    }
    header .server-ip {
        display: none;
    }
}