

/* Основной контент */
.main-container {
    display: flex;
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
    gap: 30px;
}

.content-area {
    flex-grow: 1;
}

.filters-sidebar {
    width: 250px;
    flex-shrink: 0;
}

/* Фильтры */
.filter-section {
    border-radius: 12px;
    text-align: left;
}

.filter-section h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 38px;
    color: white;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.filters-sidebar select,
.filters-sidebar input {
    color: white; /* Белый текст */
    background: #222;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.filters-sidebar select:focus,
.filters-sidebar input:focus {
    outline: 2px solid #007bff; /* Выделение синей обводкой при фокусе */
}


.filter-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-around;
}

/* Карточка обновления */
.update-card {
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.update-card img {
    display: block;
    max-width: 100%;
    border-radius: 50px 50px 0 0 ;
}
.update-card .content {
    background: rgba(34, 34, 34, 1);
    padding: 5px 25px;
    text-align: left;
}
.update-card .content .update-title {
    font-size: 38px;
    margin: 0 0 10px;
    font-weight: 700;
}
.update-card .content .update-meta {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 19px;
}
.update-card .content .update-content {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}
.update-card .click-read {
    display: block;
    background-color: rgba(26, 26, 26, 1);
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    border-radius: 0 0 50px 50px;
}

.gradient-text {
    background: linear-gradient(45deg, #B889CE 0%, #D05490 55%, #EA4245 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.read-more-btn {
    margin-top: 20px;
}

/* Анимационные кнопки */
.colorful-button {
    --duration: 7s;
    --delay: 0s;
    --easing: linear;
    --c-color-1: rgba(92, 134, 255, 0.7);
    --c-color-2: #275efe;
    --c-color-3: rgba(54, 42, 137, 0.4);
    --c-color-4: rgba(172, 160, 255, 0.3);
    --c-shadow: rgba(39, 94, 254, 0.5);
    --c-shadow-inset-top: rgba(39, 94, 254, 0.8);
    --c-shadow-inset-bottom: rgba(110, 171, 255, 0.6);
    --c-radial-inner: #362a89;
    --c-radial-outer: #6d58ff;
    --c-color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    display: table;
    border-radius: 24px;
    padding: 0;
    text-align: center;
    min-width: 140px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--c-color);
    background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
    box-shadow: 0 0 20px var(--c-shadow);
}

.colorful-button.light {
    --delay: 0.15s;
    --c-color-1: rgba(172, 160, 255, 0.15);
    --c-color-2: rgba(110, 171, 255, 0.15);
    --c-color-3: rgba(255, 255, 255, 0.5);
    --c-color-4: rgba(109, 88, 255, 0.15);
    --c-shadow: rgba(0, 76, 180, 0.1);
    --c-shadow-inset-top: white;
    --c-shadow-inset-bottom: white;
    --c-radial-inner: #eceffc;
    --c-radial-outer: #fff;
    --c-color: black;
}

/* Корзина */
.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

/* Адаптация */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .logo-info {
        margin-bottom: 15px;
    }

    .nav-buttons {
        display: none;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .main-container {
        flex-direction: column;
    }

    .filters-sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .update-title {
        font-size: 22px;
    }
}